.banner {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.b-red {
    background-color: #d53030;
}

.b-green {
    background-color: #45db45;;
}

.b-span {
    color: white;
}