.banner {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: none;
}

.red {
    background-color: #d53030;
}

.green {
    background-color: #45db45;;
}

span {
    color: white;
}