@font-face {
    font-family: "Grandista";
    src: url(../fonts/Grandista.ttf) format("truetype");
}

html,
body {
    /*noinspection CssInvalidPropertyValue*/
    background: #fafafa;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
}

input:focus {
    outline: none;
}

h1 {
    font-family: "Grandista", serif;
    font-size: 35px;
    margin: 22px auto 12px;
    text-align: center;
    font-weight: 300;
}

#m-parameters-article > h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 35px;
}

#m-signup-article > h2 {
    text-align: center;
    color: rgba(142, 142, 142, 1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
}

.main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

article {
    border: 1px solid #dbdbdb;
    max-width: 350px;
    background: white;
    padding: 10px 40px 30px 40px;
    align-items: center;
}

article > a {
    color: #0095f6;
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

form > input {
    display: block;
    border: 1px solid #dbdbdb;
    background: #fafafa;
    width: 258px;
    height: 36px;
    align-self: center;
    margin-bottom: 7px;
    border-radius: 3px;
    padding: 0;
    text-indent: 10px;
}

#signup-button, #connexion-button, #parameters-button {
    background: #0095f6;
    color: #ffffff;
    font-weight: 600;
    width: 260px;
    height: 38px;
    border: 1px solid transparent;
}

#showImage {
    max-width: 640px;
    height: auto;
}