#m-newPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    justify-content: center;
    height: 100%;
}

article {
    border: 1px solid #dbdbdb;
    background: white;
    padding: 10px 40px 30px 40px;
    align-items: center;
    text-align: -webkit-center;
}

#m-newPost-title {
    font-weight: 300;
    font-size: 40px;
    color: rgba(38, 38, 38, 1);
    line-height: 32px;
}

#m-newPost-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#m-newPost-form > label {
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    margin: 5px;
}

#m-newPost-form-photo {
    border: 2px dashed #dbdbdb;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    text-align-last: center;
}


#m-newPost-form-photo > img {
    max-width: 640px;
    height: auto;
}

#m-newPost-form-textarea {
    resize: none;
    outline: none;
    border-radius: 3px;
    border: 2px solid #dbdbdb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#m-newPost-form-submit {
    margin-top: 20px;
    background: #0095f6;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 180px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
}