article {
    border: 1px solid rgb(219, 219, 219);
    max-width: 640px;
    min-width: 485px;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 24px;
    background: white;
    padding-bottom: 15px;
}

a {
    all: unset;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 4px 14px 16px;
}

header > div:not(:last-child) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    max-width: 100px;
}

header > div > img {
    border-radius: 50%;
}

header > div > a {
    font-weight: 600;
}

header button {
    all: unset;
    margin-right: 26px;
    cursor: pointer;
}

.content img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
}

footer > * {
    padding: 0 16px 0 16px;
}


.post-name {
    cursor: pointer;
}

.post-name:hover {
    text-decoration: underline;
}

.footer_actions {
    display: flex;
    padding: 6px 16px 8px 10px;
    user-select: none;
}

.footer_actions button {
    all: unset;
    padding: 8px;
    cursor: pointer;
}

.footer_actions button img {
    height: 24px;
    width: 24px;
}

.footer_likes {
    margin-bottom: 8px;
    font-weight: 600;
}

.post_description {
    margin-bottom: 4px;
}

.post_comments {
    margin-bottom: 4px;
}

.post_comments a {
    color: #8e8e8e;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    margin-block-end: 0;
    padding-top: 11px;
    padding-bottom: 11px;
}

textarea {
    border: none;
    resize: none;
    max-height: 80px;
    display: flex;
    height: 18px;
    line-height: 18px;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    flex-grow: 1;
    font-size: inherit;
}

textarea:focus {
    outline: 0;
}

.post_comment {
    padding: 6px 16px 6px 16px;
    border-top: 1px solid rgba(239, 239, 239, 1);
}

.post_comment button {
    all: unset;
    color: #0095f6;
    cursor: pointer;
}

.post-time {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 10px;
    color: #8e8e8e;
}

.post-dropdown {
    position: relative;
    display: inline-block;
}

.post-dropdown-menu {
    width: max-content;
    position: absolute;
    right: 20px;
    top: 30px;
    display: none;
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1475);
    overflow: hidden;
}

.post-dropdown-menu a {
    background: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.post-dropdown-menu a:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}

.post-dropdown-menu a:hover {
    background-color: #ccc;
}

.show {
    display: block;
}