/* .container {
    background-color: red;
    display: flex;
    justify-content: space-around;
}

.c-center {
    width: 70%;
    background-color: green;
    height:300px;
}

.c-column {
    width: 65%;
}

#profile-m-avatar {
    width: 200px;
    clip-path: ellipse(50% 50%);
}

#profile-m-avatar2 {
    background-size: contain;
    background-position: 50% 50%;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 150px; height: 150px;
    border: none;
    border-radius: 50%;
}

#profile {
    margin: 0 auto;
}

#profile-m-name {
    display: flex;
    text-align: center;
    color: #FFF;
}


#stats-m {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.stats-m-c {
    text-align: center;
    display: flex;
    flex-direction: column;
} */

body {
    background-color: #eee;
}

.m-container {
    width: 70%;
    /* margin: 20px auto 0px auto; */
    margin: 0 auto;
}

#m-pres {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

#m-avatar {
    width: 20%;
    padding: 0 2%;
}

#m-avatar-img {
    background-size: contain;
    background-position: 50% 50%;
    background-image: url("../img/avatar.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 150px; height: 150px;
    border: none;
    border-radius: 50%;
}

#m-infos {
    width: 50%;
}

.m-infos-ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#m-infos-stats .m-infos-ul {
    justify-content: space-between;
}

#m-infos-m #m-name {
    text-transform: lowercase;
    margin: 0;
}

#m-infos-m button {
    display: flex;
    margin-left: 10px;
}

#m-infos-m button img {
    margin-right: 3px;
}

#m-infos-main span {
    font-style: italic;
}


/* ------------- PARTIE PUBLICATIONS ------------- */
#m-tab {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    text-align: center;
}

#m-tab span {
    padding: 0 10px;
    border-top: 3px solid #555;
    text-transform: uppercase;
}

/* PARTIE GALERY */

#m-galery {
    margin: 15px auto;
    
    display: flex;
    justify-content: center;
}

#m-galery ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    /* justify-content: flex-start; */
    max-width: 852px;
    min-width: 284px;
    margin: 0 auto;
}

#m-galery ul li {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2px;
}

#m-galery ul li img {
    width: 100%;
}

/* #m-galery-img {
    max-width: 852px;
    min-width: 284px;  
    display: flex;
    flex-direction: row;
}

#m-galery-img .m-galery-pub {
    max-width: 280px; width: 280px; min-width: 47px; 
    max-height: 280px; width: 280px; min-height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 2px;
}

#m-galery-img .m-galery-pub img {
    width: 100%;
    float: left;
    position: relative;
} */